<section class="l-footer">
    <div class="b-footer">
        <div class="footer__logo">
            <img src="./img/logo.svg" alt="THE BEAUTY LOFT">
        </div>
        <div class="footer__col">
            <nav class="b-footer-menu">
                <h4>О компании</h4>
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Преимущества</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Аренда</a></li>
                    <li><a href="#">Вопрос ответ</a></li>
                    <li><a href="#">Контакт</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__col">
            <h4>Режим работы</h4>
            <p>Пн-Пт: 10:00-23:00 <br> Сб: 10:00-17:00 <br> Вс: выходной</p>
        </div>
        <div class="footer__col">
            <h4>Контакты</h4>
            <p>
                <a href="tel:+79990000000">+7 (999) 000 00 00</a> <br> <a href="#">Канал WhatsApp</a> <br> <a href="#">Канал Viber</a> <br> <a href="#">Канал Telegram</a>
            </p>
        </div>
        <div class="footer__col footer__col--social">
            <h4>Мы в соцсетях</h4>
            <div class="footer__social">
                <a href="#"><img src="./img/icon-fb.svg" alt="fb"></a>
                <a href="#"><img src="./img/icon-yt.svg" alt="yt"></a>
                <a href="#"><img src="./img/icon-inst.svg" alt="inst"></a>
                <a href="#"><img src="./img/icon-ok.svg" alt="ok"></a>
                <a href="#"><img src="./img/icon-vk.svg" alt="vk"></a>
            </div>
        </div>
        <div class="footer__line">
            <a href="#">Политикой конфиденциальности</a>
            <span>&copy; 2021 Официальный сайт THE BEAUTY LOFT</span>
        </div>
    </div>
</section>