<header class="l-header">
    <div class="b-promo">
        <div class="b-header">
            <div class="header__inner">
                <a href="/"><img class="header__logo" src="./img/logo.svg" alt=""></a>
                <div class="header__menu">
                    //= ./header-menu.html
                </div>
                <div class="header__contacts">
                    <a href="tel:+79855295684">+7 (985) 529 56 84</a>
                    <span>звонок бесплатный</span>
                    <a href="#">Заказать обратный звонок</a>
                </div>
            </div>
        </div>
        <picture class="promo__pic">
            <source srcset='./img/head-bg.webp' type='image/webp'>
            <source srcset='./img/head-bg.jpg' type='image/jpeg'>
            <img src='./img/head-bg.jpg' alt=''>
        </picture>
        <div class="promo__content">
            <h1>Beauty-коворкинг</h1>
            <p>Пространство для Вашей работы и вдохновения <br> с приятными ценами и премиальным сервисом</p>
            <p class="promo__btns"><a href="#" class="b-button">Хочу забронировать</a> <a href="#" class="b-button b-button--clear">Хочу бесплатный тест-драйв</a></p>
        </div>
        <div class="promo__scroll">
            <span>Скрольте вниз</span> <img src="./img/chevron-down.svg" alt="">
        </div>
    </div>
</header>