<div class="b-acc">
    <h2>Часто задаваемые вопросы?</h2>
    <div class="acc__item acc__item--active">
        <div class="acc__title js-acc-title">Рыбатекст используется дизайнерами? <span></span></div>
        <div class="acc__content js-acc-content">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле. Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. </div>
    </div>
    <div class="acc__item">
        <div class="acc__title js-acc-title">Чем отличаются линейки? <span></span></div>
        <div class="acc__content js-acc-content">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле. Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. </div>
    </div>
    <div class="acc__item">
        <div class="acc__title js-acc-title">Насколько точная калорийность в линейках? <span></span></div>
        <div class="acc__content js-acc-content">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле. Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. </div>
    </div>
</div>