<div class="b-benefits" id="benefits">
    <h2>Наши преимущества</h2>
    <div class="benefits__items">
        <div class="benefits__item">
            <img src="./img/benefits-icon-1.svg" alt="">
            <h3 class="b-title-line">Удобное расположение</h3>
            <p>Менее 10 минут от метро Павелецкая пешком или 3 минуты на общественном транспорте. Есть парковка для личного транспорта.</p>
            <p><a href="#">Смотреть на карте</a></p>
        </div>
        <div class="benefits__item">
            <img src="./img/benefits-icon-2.svg" alt="">
            <h3 class="b-title-line">Кафе около студии</h3>
            <p>В одном помещении находится кофейня. Мастера можно подождать в уютной атмосфере.</p>
        </div>
        <div class="benefits__item">
            <img src="./img/benefits-icon-3.svg" alt="">
            <h3 class="b-title-line">Комфортная атмосфера</h3>
            <p>Ремонт помещения сделан в современном стиле и создает приятную обстановку рабочего места. Есть бесплатный WiFi. </p>
        </div>
        <div class="benefits__item">
            <img src="./img/benefits-icon-4.svg" alt="">
            <h3 class="b-title-line">Аренда локера</h3>
            <p>В здании оборудованы ящички для хранения инструментов на ключе и уголок для переодевания.</p>
        </div>
    </div>
</div>