<div class="b-form b-form--popup">
    <div class="form__inner">
        <h3 class="b-title-line">Вам перезвонить?</h3>
        <p>Наш специалист поможет Вам разобраться с любыми вопросами.</p>
        <form>
            <input type="text" placeholder="Ваше Имя">
            <input type="text" placeholder="Ваш номер телефона">
            <p class="form__agree">Отправляя данные, Вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p>
            <button class="b-button" type="submit">позвоните мне</button>
        </form>
    </div>
</div>