<div class="b-form">
    <div class="form__inner">
        <h2 class="b-title-line">Остались вопросы?</h2>
        <p>Мы Вам перезвоним!</p>
        <form>
            <input type="text" placeholder="Ваше Имя">
            <input type="text" placeholder="Ваш номер телефона">
            <button class="b-button" type="submit">оставить заявку</button>
        </form>
        <p class="form__agree">Отправляя данные, Вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p>
    </div>
</div>