<div class="b-rent" id="rent">
    <h2>Аренда рабочих мест</h2>
    <div class="swiper-container swiper-container-rent js-swiper-rent">
        <div class="rent__items swiper-wrapper">
            <div class="swiper-slide">
                <div class="rent__item">
                    <picture class="rent__pic">
                        <source srcset='./img/rent-pic-1.webp' type='image/webp'>
                        <source srcset='./img/rent-pic-1.jpg' type='image/jpeg'>
                        <img src='./img/rent-pic-1.jpg' alt=''>
                    </picture>
                    <div class="rent__content">
                        <h3 class="b-title-line">Бровист / Визажист</h3>
                        <ul>
                            <li>гримёрное зеркало</li>
                            <li>рабочий стол</li>
                            <li>визажный стул</li>
                            <li>стерилизатор</li>
                            <li>расходные материалы</li>
                        </ul>
                    </div>
                    <div class="rent__footer">
                        <div class="rent__price">от 400 <span class="b-ruble-font">Р</span>/час</div>
                        <div class="rent__btn"><a href="#" class="b-button">Забронировать</a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="rent__item">
                    <picture class="rent__pic">
                        <source srcset='./img/rent-pic-2.webp' type='image/webp'>
                        <source srcset='./img/rent-pic-2.jpg' type='image/jpeg'>
                        <img src='./img/rent-pic-2.jpg' alt=''>
                    </picture>
                    <div class="rent__content">
                        <h3 class="b-title-line">Hарикмахер / барбера</h3>
                        <ul>
                            <li>большое зеркало</li>
                            <li>тележка-ассистент</li>
                            <li>моечная- лаборатория</li>
                            <li>климазон</li>
                            <li>стерилизатор</li>
                            <li>инструмент для стайлинга</li>
                            <li>расходные материалы</li>
                        </ul>
                    </div>
                    <div class="rent__footer">
                        <div class="rent__price">от 500 <span class="b-ruble-font">Р</span>/час</div>
                        <div class="rent__btn"><a href="#" class="b-button">Забронировать</a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="rent__item">
                    <picture class="rent__pic">
                        <source srcset='./img/rent-pic-3.webp' type='image/webp'>
                        <source srcset='./img/rent-pic-3.jpg' type='image/jpeg'>
                        <img src='./img/rent-pic-3.jpg' alt=''>
                    </picture>
                    <div class="rent__content">
                        <h3 class="b-title-line">Косметолога</h3>
                        <ul>
                            <li>регулируемая кушетка</li>
                            <li>регулируемое кресло</li>
                            <li>стерилизатор</li>
                            <li>холодильник</li>
                            <li>мойка</li>
                            <li>лампа</li>
                            <li>расходные материалы</li>
                        </ul>
                    </div>
                    <div class="rent__footer">
                        <div class="rent__price">от 500 <span class="b-ruble-font">Р</span>/час</div>
                        <div class="rent__btn"><a href="#" class="b-button">Забронировать</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>