<div class="swiper-container swiper-container-review js-swiper-review">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="review__item">
                <div class="review__content">
                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
                </div>
                <div class="review__user">
                    <div class="review__ava">
                        <picture>
                            <source srcset='./img/ava.webp' type='image/webp'>
                            <source srcset='./img/ava.jpg' type='image/jpeg'>
                            <img src='./img/ava.jpg' alt=''>
                        </picture>
                        <img class="review__ava-icon" src="./img/icon-inst-ava.svg" alt="">
                    </div>
                    <span>Игорь / г. Москва, 8 ноября 2021</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="review__item">
                <div class="review__content">
                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
                </div>
                <div class="review__user">
                    <div class="review__ava">
                        <picture>
                            <source srcset='./img/ava.webp' type='image/webp'>
                            <source srcset='./img/ava.jpg' type='image/jpeg'>
                            <img src='./img/ava.jpg' alt=''>
                        </picture>
                        <img class="review__ava-icon" src="./img/icon-inst-ava.svg" alt="">
                    </div>
                    <span>Игорь / г. Москва, 8 ноября 2021</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="review__item">
                <div class="review__content">
                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
                </div>
                <div class="review__user">
                    <div class="review__ava">
                        <picture>
                            <source srcset='./img/ava.webp' type='image/webp'>
                            <source srcset='./img/ava.jpg' type='image/jpeg'>
                            <img src='./img/ava.jpg' alt=''>
                        </picture>
                        <img class="review__ava-icon" src="./img/icon-inst-ava.svg" alt="">
                    </div>
                    <span>Игорь / г. Москва, 8 ноября 2021</span>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>