.b-footer {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 7rem;
    margin: auto;
    max-width: 150rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    font-size: 1.4rem;
    color: $color-white;

    @media (min-width: $breakpoint-desktop) {
        font-size: inherit;
    }

    h4 {
        margin-bottom: 1em;
        color: $color-white;
    }
    a {
        border-bottom: 1px solid transparent;
        text-decoration: none;
        color: $color-white;
        transition: border-color 0.2s ease-in-out;

        &:hover {
            text-decoration: none;
            border-bottom-color: $color-white;
        }
    }
    .footer__logo {
        padding-bottom: 4rem;
        margin-right: auto;
        width: 100%;

        @media (min-width: $breakpoint-desktop) {
            padding-bottom: 0;
            width: auto;
        }
    }
    .footer__col {
        padding-bottom: 2em;
        line-height: 2;
        width: 50%;

        @media (min-width: $breakpoint-tablet) {
            width: 33.33%;
        }
        @media (min-width: $breakpoint-desktop) {
            padding-bottom: 0;
            width: 25%;
            max-width: 25rem;
        }

        &--social {
            padding-bottom: 0;
            width: 100%;

            @media (min-width: $breakpoint-tablet) {
                width: 33.33%;
            }

            h4 {
                display: none;

                @media (min-width: $breakpoint-desktop) {
                    display: block;
                }
            }
        }
    }
    .footer__social {
        display: flex;
        flex-flow: row wrap;
        a {
            margin-right: 1rem;
            border-bottom: 0;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                text-decoration: none;
            }
        }
        img {
            border-radius: 100rem;
            background-color: $color-white;
            transition: background-color 0.2s ease-in-out;
        }
        a:hover {
            img {
                background-color: $color-brown;
            }
        }
    }
    .footer__line {
        margin-top: 7rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-size: 1.4rem;

        a {
            margin-bottom: 0.5rem;
            opacity: 0.7;
            color: $color-white;

            @media (min-width: $breakpoint-tablet) {
                margin-bottom: 0;
            }
        }
        span {
            opacity: 0.7;
        }
    }
}
/*----------*/
