$breakpoint-desktop-extra: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-extra: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-extra: 650px;
$breakpoint-mobile-normal: 380px;

$font-family: 'Roboto', sans-serif;
$font-family-oswald: 'Oswald', sans-serif;
$font-family-ruble: 'ALSRubl', sans-serif;

$color-font: #2a2a2a; 
$color-black: #000000; 
$color-darkgray: #2a2a2a; 
$color-lightgray: #d0d0d0;
$color-lightgray2: #f5f6f7;
$color-lightgray3: #e5e5e5;
$color-lightgray4: #949494;
$color-lightgray4: #d0d0d0;
$color-white: #ffffff; 
$color-brown: #be935a; 
