.b-benefits {
    margin: auto;
    max-width: 150rem;
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
        margin-bottom: 5rem;
    }
    @media (min-width: $breakpoint-desktop) {
        margin-bottom: 10rem;
    }

    .benefits__items {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .benefits__item {
        padding-bottom: 5rem;
        width: 100%;

        @media (min-width: $breakpoint-tablet) {
            width: 45%;
        }
        @media (min-width: $breakpoint-desktop) {
            width: 20%;
        }

        img {
            margin-bottom: 2rem;
        }

        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }
        
        a {
            border-bottom: 1px solid transparent;
            transition: border-color 0.2s ease-in-out;

            &:hover {
                border-bottom-color: $color-brown;
            }
        }
    }
}