.b-contacts {
    margin-left: -2rem;
    margin-right: -2rem;
    background-color: $color-font;
    color: $color-white;
    
    @media (min-width: $breakpoint-desktop) {
        font-size: 2.2rem;
    }

    h2 {
        color: $color-white;
    }

    .contacts__inner {
        margin: auto;
        max-width: 192rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .contacts__content {
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 100%;
        text-align: center;

        @media (min-width: $breakpoint-tablet) {
            width: 50%;
        }

        img {
            margin-bottom: 1rem;
        }
        a {
            border-bottom: 1px solid transparent;
            color: $color-white;
            transition: border-color 0.2s ease-in-out;
            
            &:hover {
                border-bottom-color: $color-white;
                text-decoration: none;
                color: $color-white;
            }
        }

        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .contacts__map {
        height: 40rem;
        width: 100%;
        
        @media (min-width: $breakpoint-tablet) {
            height: 45rem;
            width: 50%;
        }
        @media (min-width: $breakpoint-desktop) {
            height: 70rem;
        }
    }
}